<h2>todos</h2>
<table cellspacing='0px'>
	<thead>
	<tr>
		<% for(var attr in Todoit.Models.todo.attributes){%>
			<% if(attr == 'id') continue;%>
			<th><%= attr%> </th>	 
		<%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%= $.View('//todoit/views/todo/list',{todos: todos})%>
	</tbody>
</table>
<h2>New todo</h2>
<form>
	<% for(var attr in Todoit.Models.todo.attributes){ %>
		<% if(attr == 'id') continue;%>
		<div>
			<label><%= attr %> </label><br />
			<input type="text" value="" name="<%= attr %>"/>
		</div>
	<%}%>
	<input type='submit' value='Create'/>
</form>